{% extends 'base.html' %}

{% block title %}Recipe List{% endblock %}

{% block content %}
    <ul>
        {% for recipe in recipes %}
            <li><a href="{{ recipe.get_absolute_url }}">{{ recipe.name }}</a>
                <ul>
                    {% for ingredient in recipe.ingredients.all %}
                        <li>{{ ingredient.quantity }} {{ ingredient.ingredient }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}