{% extends 'base.html' %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block header %}
    <h3>Recipe Detail for {{ recipe }}</h3>
    <h5>Author: {{ recipe.author }}</h5>
{% endblock %}

{% block content %}
    {% if recipe.image %}
        {% for image in recipe.image.all %}
            <img src="{{ image.image.url }}" alt="{{ image.description }}">
        {% endfor %}
    {% endif %}
    <ul>
        {% for ingredient in recipe.ingredients.all %}
            <li>{{ ingredient.quantity }} {{ ingredient.ingredient }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'ledger:add-image' id=recipe.id %}">Add Image</a><br><br>
    <a href="{% url 'ledger:list' %}">Back</a>
{% endblock %}